*
!.gitignore
!scripts/
!scripts/**
!skills-refined-36k/
!skills-refined-36k/**
!skills-refined-agentskillos-36k/
!skills-refined-agentskillos-36k/**
!skills-refined-autoskill-36k/
!skills-refined-autoskill-36k/**
!skills-refined-skillclaw-36k/
!skills-refined-skillclaw-36k/**
