[submodule "AgentSkillOS"]
	path = AgentSkillOS
	url = https://github.com/ynulihao/AgentSkillOS.git
[submodule "AutoSkill"]
	path = AutoSkill
	url = https://github.com/ECNU-ICALK/AutoSkill.git
[submodule "SkillClaw"]
	path = SkillClaw
	url = https://github.com/AMAP-ML/SkillClaw.git
